{% extends 'base.html' %}
{% block body %}
    <div class="container my-3">
        <h2>Add a ToDo</h2>
        <form action="/" method="POST">
            <div class="mb-2">
                <label for="title" class="form-label">ToDo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="Title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">ToDo Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <div class="container">
        {% if allTodos|length == 0 %}

        <div class="alert alert-dark" role="alert">
            No ToDos found. Enter a ToDo now!
        </div>

        {% else %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for Todo in allTodos %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{Todo.title}}</td>
                    <td>{{Todo.desc}}</td>
                    <td>{{Todo.time}}</td>
                    <td>
                        <a href="/update/{{Todo.sno}}" type="button"
                            class="btn btn-outline-success btn-sm mx-2">Update</button>
                            <a href="/delete/{{Todo.sno}}" type="button"
                                class="btn btn-outline-danger btn-sm mx-2">Remove</button>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% endif %}
    </div>
{% endblock body %}