{% extends 'base.html' %}
{% block body %}
    <div class="container my-3">
        <h2>Update Your ToDo</h2>
        <form action="/update/{{upd_todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">ToDo Title</label>
                <input type="text" class="form-control" name="title" id="title" value="{{upd_todo.title}}" aria-describedby="Title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">ToDo Description</label>
                <input type="text" class="form-control" name="desc" value="{{upd_todo.desc}}" id="desc">
            </div>
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </form>
    </div>>
{% endblock body %}